In [1]:
import pandas as pd   
import numpy as np    
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('Housing.csv')
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [7]:
binary_columns = ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea']

for col in binary_columns:
    df[col] = df[col].apply(lambda x: 1 if x == 'yes' else 0)

df = df.drop('furnishingstatus', axis=1)
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea
0,13300000,7420,4,2,3,0,0,0,0,0,2,0
1,12250000,8960,4,4,4,0,0,0,0,0,3,0
2,12250000,9960,3,2,2,0,0,0,0,0,2,0
3,12215000,7500,4,2,2,0,0,0,0,0,3,0
4,11410000,7420,4,1,2,0,0,0,0,0,2,0

In [50]:
x_train = df.iloc[:, 1:]
y_train = df.iloc[:, 0]
x_train.iloc[540]['area']
y_train.iloc[0]

13300000

In [51]:
x_list = []
y_list = []

for i in range(len(x_train)):
    x = []
    x.append(x_train.iloc[i]['area'])
    x.append(x_train.iloc[i]['bedrooms'])
    x.append(x_train.iloc[i]['bathrooms'])
    x.append(x_train.iloc[i]['stories'])
    x.append(x_train.iloc[i]['mainroad'])
    x.append(x_train.iloc[i]['guestroom'])
    x.append(x_train.iloc[i]['basement'])
    x.append(x_train.iloc[i]['hotwaterheating'])
    x.append(x_train.iloc[i]['airconditioning'])
    x.append(x_train.iloc[i]['parking'])
    x.append(x_train.iloc[i]['prefarea'])

    x_list.append(x)
    y_list.append(y_train.iloc[i])

In [58]:
x_train = np.array(x_list)
y_train = np.array(y_list)
x_train.shape

(545, 11)

In [38]:
class LinearRegression:
    def __init__(self, learning_rate=0.01, n_itrs=1000):
        self.learning_rate = learning_rate
        self.n_itrs = n_itrs
        self.weights = None
        self.bias = None
    
    def fit(self, X, y):
        n_samples, n_features = X.shape
        self.weights = np.zeros(n_features)
        self.bias = 0

        for _ in range(self.n_itrs):
            y_pred = self._approximation(X, self.weights, self.bias)

            dw = (1 / n_samples) * np.dot(X.T, (y_pred - y))
            db = (1 / n_samples) * np.sum(y_pred - y)


            self.weights -= self.learning_rate * dw
            self.bias -= self.learning_rate * db

    
    
    def predict(self, X):
        return self._approximation(X, self.weights, self.bias)
    
    def _approximation(self, X, w, b):  # [[1,2 ], [0, 1]]
        return np.dot(X, w) + b

In [59]:
model = LinearRegression()
model.fit(x_train, y_train)

/tmp/ipykernel_24270/134795326.py:20: RuntimeWarning: invalid value encountered in subtract
  self.weights -= self.learning_rate * dw

In [60]:
model.predict(x_train[0])

nan